@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/* ### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700 */


:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* Transparent white (paragraphs):  */
    --transparent-white: hsla(0, 0%, 100%, 0.75);

    /* Very light gray (background, headings, buttons) */
    --very-light-gray: hsl(0, 0%, 95%);

    --card-border-radius: 12px;
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Lexend Deca', 'Times New Roman', Times, serif;
}

.whole-container {
    max-width: 100vw;
    color: var(--transparent-white);
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 64px auto;
}

.card {
    background-color: var(--bright-orange);
    padding: 64px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:first-child {
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
}

.card:last-child {
    border-bottom-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
}

/* change card color */
.card:nth-child(2) {
    background-color: var(--dark-cyan);
}

.card:nth-child(3) {
    background-color: var(--very-dark-cyan);
}

/* card heading  */
.card h1 {
    padding: 0;
    margin: 32px 0;
    color: var(--very-light-gray);
    font-family: 'Big Shoulders Display', 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

/* Learn MOre button design  */
.card .btn button {
    margin-top: 16px;
    border: none;
    background-color: var(--very-light-gray);
    border-radius: 72px;
    padding: 14px 32px;
    cursor: pointer;
    color: var(--bright-orange);
    font-size: 0.9em;
}

/*  button custom text color  */

.card:nth-child(2) .btn button {
    color: var(--dark-cyan);
}

.card:nth-child(3) .btn button {
    color: var(--very-dark-cyan);
}


/* button active status */
.card .btn button:hover,
.card .btn button:focus {
    background-color: transparent;
    outline: 2px solid var(--very-light-gray);
    color: var(--very-light-gray);
}



/* media queries */
@media (min-width:961px) {

    .whole-container {
        max-width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-container {
        width: 70%;
        flex-direction: row;
    }

    .card-container .card {
        border-radius: 0;
    }


    .card-container .card:first-child {
        border-top-left-radius: var(--card-border-radius);
        border-bottom-left-radius: var(--card-border-radius);
    }

    .card-container .card:last-child {
        border-top-right-radius: var(--card-border-radius);
        border-bottom-right-radius: var(--card-border-radius);
    }

}